* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "sidebar navbar"
    "sidebar article"
    "footer footer"
    ;
    gap: 4px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-area: header;
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sidebar {
    background-color: #C50208;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(4 1fr);
    gap: 50px;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  
  .nav {
    background-color: #C50208;
    grid-area: navbar;
  }
  
  .nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
  }
  
  .article {
    background-color: #bccbde;
    grid-area: article;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-area: footer;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;
  }

   /* The Modal (background) */
 .addBookModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.sort-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.sort-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.feild_div {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.sort-header-container {
    width: 100%;
    height: 60px;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    color: #d9d9d9;
}

.feild_div > input[type=text], select {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.feild_div > button{
    /* width: 100%; */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 

.feild_div > button:hover {
    /* width: 100%; */
    background-color: #80e984;
} 